@model CompareApps.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <div style="width: 32%; margin-left: auto; margin-right: auto; height: 50%; border: solid 1px #000; margin-top: 5%;">
        <fieldset style="width: 100%; margin-left: 4%;">
            <legend>Forgot Password</legend>
          
        <h3>Provide us with registered email address to send you
            with link that will provide you with possibility to enter new password</h3>

         @ViewData["ErrorMessage"]
       

            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
            @Html.EditorFor(model => model.Email)

          <div>@Html.ValidationMessageFor(model => model.Email)</div>
</div>
        
       <div style="text-align:center;">
            <div class="dvSubmit">
                <input type="submit" value="SUBMIT" name="SUBMIT" />
                <span class="Or">Or</span> <a id="cancel1" href='@Url.Action("Login", "Account")'>Cancel</a>
            </div>
       </div>
       
      </fieldset>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
